body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
}

#search {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

main {
    padding: 20px;
}

.song-item {
    background: #1c1c1c;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
}
